@model COMP2139_ICE.Areas.ProjectManagement.Models.ProjectTask

@{
    ViewData["Title"] = "Task Details";
}

<h1>Task Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Title, "ProjectTaskTitle")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        
        <dt class="col-sm-2">Project</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Project.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectTaskId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" asp-route-projectId="@Model.ProjectId">Back to List</a>
</div>