@{
    ViewData["Title"] = "About";
    
    // These are variables holding your data
    var studentName = "Thomas Osorno"; 
    var studentNumber = "101513272";
    var courseCode = "COMP2139";
    var courseSection = "8:00am";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Welcome to the About Page</h1>
    <p>Student Name: @studentName</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Course Section: @courseSection</p>
</div>